*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: lightseagreen;
    color: black;
}

li{
    list-style: none;
}

#navigation {
    font-family: 'Julius Sans One';
    font-size: 100%;
    text-transform: uppercase;
    min-height: 89px;  
}


h1,h2{
    color: black;
}



